@font-face {
font-family: "Inter";
src: url("/fonts/Inter.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: 'Inter', 'Arial', sans-serif;
    background: linear-gradient(to right, #000000, #1e1f24);
    box-sizing: border-box;
    color: #fdfefe;
    padding: 10px;
}

.links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #292a30;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.link-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #777;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    width: 80px; /* Фиксированная ширина для всех элементов */
    height: 100px; /* Фиксированная высота для всех элементов */
    box-sizing: border-box;
    text-align: center; /* Центрирование текста */
    text-decoration: none;
}

.link-button:hover {
    color: #fff;
}

.link-button.selected {
    background-color: #323232;
    color: #fff;
}

.link-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 5px;
    border-radius: 50%;
}

.link-label {
    font-size: 12px;
}



/* Основной заголовок */
h1 {
    font-size: 28px;
    color: #fdfefe;
    margin: 20px 0;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-size: 24px;
    color: #fdfefe;
    margin: 20px 0;
    text-align: center;
    font-weight: normal;
}

/* Основной текст */
p {
    color: #ebecf0;
    margin: 0;
    font-size: 16px;
    text-align: center;
}

/* Контейнер для меню и кнопок */
.menu-container {
    /*background-color: #292a2f;*/
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Стили для опций игр */
.game-options {
    display: flex;
    flex-direction: row;
    margin: 0 auto 15px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-button {
    background-color: #292a2f;
    color: #f8f9fb;
    border: 2px solid #292a2f;
    padding: 14px;
    margin: 3px 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 135px;
}

.game-button.active {
    border: 2px solid #265c31;
}

.game-button .game-icon {
    width: 80px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.game-button .game-label {
    font-size: 12px;
    max-width: 80px;
}



/* Стили для выбора количества кодов */
.code-count {
    background-color: #292a2f;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.code-count label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.count-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.count-buttons button {
    background: #1e1f24;
    color: #fcfdfd;
    border: 1px solid #1e1f24;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 0 5px;
    transition: background-color 0.3s, color 0.3s;
}

button:disabled {
    background: #e0e0e0;
    border-color: #bdbdbd;
    cursor: not-allowed;
    color: #757575;
}

/* Стиль для числа кодов */
#codeCount {
    font-size: 24px;
    margin: 0 10px;
}

/* Стили для кнопки генерации кодов */
.keygen-button {
    background-color: #5a61ff;
    border: none;
    color: #f8f9fb;
    border-radius: 10px;
    padding: 15px;
    font-size: 28px;
    width: 100%;
    justify-content: center;
    align-items: center;
    /*width: 80px;*/
    /*height: 80px;*/
    /*font-size: 20px;*/
    /*cursor: pointer;*/
    /*box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);*/
    /*transition: background-color 0.3s, color 0.3s;*/
    /*margin: 20px auto;*/
    /*min-height: 80px;*/
    display: flex;
}

.keygen-button .key-icon {
    width: 80px;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Стили для вывода кодов */
.output {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Скрытые элементы */
.hidden {
    opacity: 0;
}
